<mat-sidenav-container class="mat-elevation-z8">
    <div class="username-container">
        <span class="username">{{userName}}</span>
    </div>
    <button mat-button class="menu-button">
        <mat-icon>home</mat-icon>
        <span>Home</span>
    </button>
    <mat-divider></mat-divider>
    <button mat-button class="menu-button">
        <mat-icon>person</mat-icon>
        <span>Profile</span>
    </button>
    <mat-divider></mat-divider>
    <button mat-button class="menu-button">
        <mat-icon>info</mat-icon>
        <span>About</span>
    </button>
    <mat-divider></mat-divider>
    <button mat-button class="menu-button">
        <mat-icon>help</mat-icon>
        <span>Help</span>
    </button>
    <mat-divider></mat-divider>
</mat-sidenav-container>