{
    "presets": [

        "@babel/preset-typescript",
        [
            "@babel/preset-env",
            {
                "targets":{
                    "browsers":["last 2 versions", "safari >= 7"]
                },
                "modules": "commonjs"
            }
        ]
    ],
    "plugins": [
        [
            "@babel/plugin-transform-runtime",
            {
                "coreJS":3
            }
        ],
        "babel-plugin-import-graphql",
        "babel-plugin-graphql-tag",
        "@babel/plugin-proposal-class-properties",
        "@babel/plugin-syntax-dynamic-import",
        "@babel/plugin-proposal-optional-chaining"
    ],
    "ignore": [
        "node_modules",
        "dist"
      ]
}
    